@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagens/Img.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;

}

.cabeçalho {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho a {
    color: #fff;
    font-size: 12px;
}

.cabeçalho a:hover {
    color: gold;
    transition: 0.3s all;
}

.logo i {
    height: 40px;
    width: 40px;
    background: transparent;
    color: gold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}


button {
    color: gold;
    background: transparent;
    border: solid 1px gold;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: gold;
    color: #fff;
    transition: 0.5s;
}

figure {
    display: inline-block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: 62vh;
    width: 52vh;
    background-color: white;
    border-radius: 100%;
    background: url(Imagens/foto_perfil.png);
    background-size: 100%;
    border: 2px solid gold;
    margin-left: 950px;
    margin-top: 80px;
}

.texto{
    padding: 120px 0 0 50px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    font-size: 50px;
    margin-top: 10px;
}

.text span{
    color: gold; 
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    max-width: 800px;
}

.texto a button{
    margin-top: 15px;
}

span{
    color: gold;
  }